.experts {
    padding: 144px 0 144px 0;
}

.experts h2 {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
}

.test-description {
    font-family: 'FuturaPTWebBook';
    width: 512px;
    text-align: center;
    margin: 0 auto 80px auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #637899;
}

.experts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 56px;
    margin-bottom: 96px;
}

.expert-img, .general-img {
    display: block;
    width: 196px;
    height: 196px;
    border: 1px solid #DBE3F0;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
    border-radius: 56px;
    margin-bottom: 24px;
    object-fit: cover;
}

.expert {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 244px;
}

.expert span {
    display: block;
}

.expert-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0025em;
    color: #27303F;
}

.position {
    font-family: 'FuturaPTWebBook';
    margin: 4px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0025em;
    color: #637899;
}

.expert-name, .company {
    font-family: 'FuturaPTWebDemi';
    font-weight: 500;
}

.position, .company, .expert-name {
    display: flex;
    justify-content: center;
    text-align: center;
}

.company {
    color: #637899;
    line-height: 22px;
    font-size: 18px;
}

.main-expert {
    position: relative;
    display: flex;
    gap: 40px;
    background: #FFFFFF;
    border: 1px solid #DBE3F0;
    border-radius: 20px;
    padding: 55px 251px;
    text-align: left;
    font-family: 'FuturaPTWebMedium';
}

.main-expert .main-expert-description {
    position: relative;
    z-index: 10;
    font-size: 20px;
    color: #27303F;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.0025em;
}

.main-expert-description {
    font-family: 'FuturaPTWebBook';
}

.main-expert-paragraph:first-child,
.main-expert-paragraph:nth-child(2){
    margin-bottom: 23px;
}

.blue-text {
    color: #56B8FF;
    font-size: 18px;
}

.dotted-arrow-img {
    position: absolute;
    bottom: 32px;
    right: 32px;
}

.general-img {
    width: 152px;
    height: 152px;
}