/*Footer*/

footer {
    font-family: 'FuturaPTWebMedium';
    background: #F9FAFD;
    line-height: 24px;
    color: #637899;
    font-size: 18px;
    height: 330px;
}

footer a {
    color: inherit;
}

.contacts-wrapper{
    display: flex;
    gap: 174px;
}

footer h5 {
    margin-bottom: 20px;
    font-family: 'FuturaPTWebDemi';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.0025em;
    color: #637899;
}

.footer-logo {
    width: 102px;
    height: 74px;
    position: absolute;
    bottom: 80px;
    right: 0;
}

.facebook-wrapper, .insta-wrapper {
    display: flex;
    gap: 12px;
}

.facebook-wrapper {
    margin-bottom: 16px;
}

.insta-wrapper {
    margin-bottom: 36px;
}

.designed-by {
    display: block;
    margin-bottom: 80px;
    text-decoration: underline;
}

.our-contacts {
    display: flex;
    flex-direction: column;
}

.email {
    text-decoration: underline;
    margin-bottom: 16px;
}
