.our-partners {
    margin-bottom: 146px;
}

.our-partners h3 {
    text-align: center;
    font-family: 'FuturaPTWebDemi';
    font-weight: 600;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 132%;
    letter-spacing: 0.0025em;
    color: #27303F;
}

.general-partners-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cossa {
    width: 159.5px;
    height: 49px;
    margin-right: 72px;
}

.ruward {
    width: 134px;
}

.cms-magazine {
    width: 202px;
}

.rusbase {
    width: 180px;
}

.info-partners {
    margin-top: 56px;
}

.info-partners h3 {
    margin-bottom: 32px;
}

.info-partners-image-wrapper {
    display: flex;
    gap: 71px;
    margin: 0 165px;
    align-items: center;
    height: 80px;
}
