.pain {
    padding-bottom: 144px;
}

.pain-title {
    margin-bottom: 80px;
}

.pain-flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 96px;
}
.pain-flex-item {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #DBE3F0;
    border-radius: 20px;
    height: 272px;
    padding: 30px 32px 112px 30px;
    font-family: 'FuturaPTWebDemi';
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.0025em;
    color: #637899;
}
.pain-flex-item:first-child {
    flex-basis: 276px;
}
.pain-flex-item:nth-child(2) {
    flex-basis: 376px;
}
.pain-flex-item:nth-child(3) {
    flex-basis: 476px;
    padding-right: 10px;
}
.pain-flex-item:nth-child(4),
.pain-flex-item:nth-child(5),
.pain-flex-item:nth-child(6) {
    flex-basis: 31.9%;
}

.pain-flex-item:nth-child(5) {
    padding-right: 50px;
}

.pain-img {
    position: absolute;
    bottom: 24px;
    right: 24px;
}

.pain-footer {
    margin: 0 224px 0 224px;
    text-align: center;
    font-family: 'FuturaPTWebDemi';
    font-weight: 500;
    font-size: 24px;
    line-height: 132%;
    text-align: center;
    letter-spacing: 0.0025em;
    color: #27303F;
}