.test-reminder {
    background: #F9FAFD;
    min-height: 600px;
    padding-bottom: 80px;
}

.test-reminder .container {
    height: 576px;
    overflow: visible;
}

.side-wrapper {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.side-wrapper h2 {
    margin-top: 144px;
}

.test-reminder-title {
    margin-bottom: 16px;
}

.test-paragraph {
    margin-bottom: 46px;
    font-size: 20px;
    line-height: 24px;
    font-family: "FuturaPTWebBook";
    color: #637899;
}

.test-reminder .test-paragraph {
    max-width: 470px;
}

.footer-main-illustration {
    display: block;
    position: absolute;
    bottom: -58px;
    right: 0;
}
