/*Fonts*/
@import url("../assets/fonts/FuturaPTBook.css");
@import url("../assets/fonts/FuturaPTCondMedium.css");
@import url("../assets/fonts/FuturaPTDemi.css");
@import url("../assets/fonts/FuturaPTHeavy.css");
@import url("../assets/fonts/FuturaPTMedium.css");

/*Sections*/
@import url("sections/header.css");
@import url("sections/ourPartners.css");
@import url("sections/painSection.css");
@import url("sections/testBenefits.css");
@import url("sections/expertSection.css");
@import url("sections/testReminder.css");
@import url("sections/footer.css");

/*Keyframes*/
@import url("./keyframes.css");

/*Components*/
@import url("components/testLink.css");

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'FuturaPTWebBook';
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    font-family: "FuturaPTWebHeavy";
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: 0.0025em;
    text-transform: uppercase;
    color: #27303F;
}

small {
    display: block;
    font-family: 'FuturaPTWebMedium';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.0025em;
    color: #637899;
}

header, main, footer {
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1176px;
    position: relative;
    overflow: hidden;
}

@media (max-width: 979px) {
    .header {
        animation: .6s ease-out mobileAnimation forwards;
    }
    .animation-backing{
        display: none;
    }
}

@media (max-width: 1240px) {
    .container {
        margin: 0 32px;
    }

    .experts-list {
        row-gap: 56px;
        column-gap: 24px;
    }

    .expert {
        flex-basis: 211px;
        padding: 0 8px;
    }

    .expert-img-wrapper {
       width: 131px;
       height: 131px;
       border-radius: 42px;
   }

   .skills-list__item {
       height: 328px;
   }

   .test-reminder {
       padding-bottom: 45px;
   }

    .footer-main-illustration {
        width: 50%;
        bottom: 60px;
        right: -5px;
    }

}

@media (max-width: 1090px) and (min-width: 769px){

    .main-expert {
        padding: 40px 122px;
    }

    .pain-footer {
        margin: 0 74px 0 74px;
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    .container {
        margin: 0 24px;
    }
    .header {
        margin-bottom: 0;
        height: 1253px;
        background-image: url("../assets/img/pageIcons/vectorIllustrationTop.png");
        background-position: bottom center;
        background-size:  900px 985px;
        background-repeat: no-repeat;
    }
    header .container {
        margin: 0 64px;
    }

    .special-project__heading {
        margin-bottom: 24px;
    }

    .ready-title {
        width: auto;
        height: auto;
    }

    header .main-illustration {
        display: none;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .you-ready {
        justify-content: space-between;
        padding-top: 136px;
        height: auto;
        width: 100%;
    }

    header small {
        margin-bottom: 47px;
    }

    .group-wrapper{
        padding: 0 48px;
    }

    .header-logo {
        padding-top: 0;
        top: 48px;
        z-index: 10;
        right: 50%;
        transform: translateX(60%);
        width: 77.5px;
        height: 55px;
    }

    .more-info {
        margin: 0 auto;
    }
    .more-info__img {
        display: block;
    }

    .our-partners {
        margin-top: 0;
    }

    .our-partners .image-wrapper {
        width: 504px;
    }

    .our-partners h3 {
        margin-bottom: 30px;
    }

    .cossa {
        width: 135px;
        height: 41px;
        margin-right: 61px;
    }

    .ruward {
        width: 113.5px;
        height: 67px;
    }

    .biz360 {
        width: 101px;
        height: 67px;
    }

    .cms-magazine {
        width: 171px;
        height: 37px;
    }

    .arda {
        width: 109px;
        height: 37px;
    }

    .rusbase {
        width: 151px;
    }

    .info-partners-image-wrapper {
        margin: 0 auto;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: space-between;
        width: 334px;
    }

    .pain-flex-container {
        margin-bottom: 90px;
    }

    .pain-flex-item:first-child {
        flex-basis: 31.5%;
    }

    .pain-flex-item:nth-child(2) {
        flex-basis: 65%;
    }

    .pain-flex-item:nth-child(3),
    .pain-flex-item:nth-child(4),
    .pain-flex-item:nth-child(5),
    .pain-flex-item:nth-child(6){
        flex-basis: 48%;
    }

    .pain-footer {
        margin: 0;
    }

    .skills-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills-list__item {
        flex-basis: 48%;
        height: 304px;
    }

    .main-expert {
        padding: 40px;
    }

    .dotted-arrow-img {
        width: 56px;
    }

    .side-wrapper {
        width: 48%;
    }

    .test-reminder {
        padding-bottom: 155px;
    }

    .test-reminder .test-link {
        width: 350px;
    }

    .footer-logo {
        width: 102px;
    }
}

@media ( max-width: 767px ) and ( min-width: 320px) {
    .container {
        margin: 0 16px;
    }

    h2 {
        font-size: 32px;
    }

    .side-wrapper h2 {
        margin: 96px 0 16px 0;
    }

    .header {
        height: 762px;
        margin-bottom: 32px;
        background-image: url("../assets/img/pageIcons/topBackground.png");
        background-position: bottom center;
        background-size: 400px 500px;
        background-repeat: no-repeat;
    }

    .special-project__heading {
        font-size: 18px;
        margin-bottom: 16px;
    }

    .header .test-link {
        min-height: 48px;
        font-size: 16px;
    }

    header .main-illustration {
        display: none;
    }

    .more-info-anchor {
        font-size: 18px;
    }

    .you-ready {
        padding-top: 120px;
        width: 100%;
        height: 620px;
    }

    .group-wrapper {
        justify-content: space-around;
        height: 390px;
    }

    .ready-title {
        margin: 0 16px 16px 16px;
        font-size: 44px;
        font-weight: 500;
        line-height: 44px;
        width: auto;
        height: auto;
    }

    .group-wrapper{
        padding: 0 16px;
    }

    .knowledge-level {
        width: auto;
        margin-bottom: 32px;
        font-size: 18px;
        line-height: 22px;
    }

    .header-logo {
        padding-top: 0;
        top: 32px;
        z-index: 10;
        right: 50%;
        transform: translateX(60%);
        width: 77.5px;
        height: 55px;
    }

    .more-info {
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translate(50%, 0);
        width: 290px;
        height: 80px;
        margin: 0 auto;
    }
    .more-info__img {
        width: 100%;
        height: 100%;
        display: block;
    }

    .animation-wrapper {
        top: 10px;
    }

    .general-partners {
        margin-bottom: 63px;
    }

    .general-partners h3,
    .info-partners h3 {
        font-size: 20px;
    }

    .cossa {
        width: 140px;
        height: 28px;
    }

    .ruward {
        height: 45px;
    }

    .biz360 {
        width: 79px;
        height: 52px;
    }

    .cms-magazine {
        width: 133px;
        height: 29px;
    }

    .arda {
        width: 86px;
        height: 29px;
    }

    .rusbase {
        width: 118px;
    }

    .our-partners {
        margin-top: 0;
        margin-bottom: 96px;
    }
    .info-partners-image-wrapper {
        padding: 0 30px;
        flex-wrap: wrap;
        gap: 15px;
        column-gap: 45px;
    }

    .info-partners-image-wrapper,
    .general-partners-image-wrapper {
        width: 288px;
        padding: 0 14px;
        margin: 0 auto;
    }

    .pain {
        padding-bottom: 96px;
    }

    .pain-flex-item:first-child,
    .pain-flex-item:nth-child(2),
    .pain-flex-item:nth-child(3),
    .pain-flex-item:nth-child(4),
    .pain-flex-item:nth-child(5),
    .pain-flex-item:nth-child(6) {
        flex-basis: 100%;
    }

    .pain-title {
        margin-bottom: 56px;
        line-height: 38px;
    }

    .pain-flex-container {
        gap: 10px;
        margin-bottom: 72px;
    }

    .pain-flex-item p{
        font-size: 20px;
        line-height: 26px;
        margin: 24px 32px 56px 32px;
    }

    .pain-flex-item:nth-child(5) {
        padding-right: 0;
    }

    .pain-flex-item {
        min-height: auto;
        padding: 0;
    }

    .pain-footer {
        margin: 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
    }

    .test-description {
        font-family: 'FuturaPTWebBook';
        width: auto;
        padding: 0 2px 0 2px;
        margin: 0 auto 56px auto;
        font-size: 18px;
        line-height: 22px;
    }

    .test-benefits {
        padding: 96px 0 96px 0;
    }

    .test-benefits__title {
        text-align: center;
        line-height: 38px;
        margin-bottom: 16px;
    }

    .after-test {
        font-size: 18px;
        margin-bottom: 54px;
    }

    .test-reminder {
        height: max-content;
        overflow: hidden;
    }

    .test-reminder .container {
        display: flex;
        flex-direction: column;
        height: max-content;
    }
    .test-reminder .test__image-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .contacts-wrapper {
        flex-direction: column;
        gap: 0;
    }

    .footer-main-illustration {
        position: static;
        transform: none;
    }

    .skill-paragraph {
        font-size: 18px;
        line-height: 22px;
    }

    .skills-list {
        gap: 12px;
    }

    .skills-list__item {
        height: auto;
        flex-basis: 100%;
        max-height: 297px;
    }

    .experts {
        padding: 90px 0 96px 0;
    }

    .experts h2 {
        margin-bottom: 8px;
    }

    .experts-list {
        display: flex;
        justify-content: flex-start;
        gap: 0px;
        flex-wrap: nowrap;
        margin-bottom: 28px;
        overflow: scroll;
    }

    .expert-img-wrapper {
        width: 140px;
        height: 140px;
    }

    .expert-img-wrapper:first-child,
    .expert-img-wrapper:last-child {
        margin-left: 18px;
    }

    .skills-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-expert {
        padding: 40px 16px 40px 16px ;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .general-img-wrapper {
        border-radius: 38px;
        width: 140px;
        height: 140px;
    }

    .main-expert-paragraph {
        font-size: 18px;
        padding-right: 10px;
        line-height: 22px;
    }

    .dotted-arrow-img {
        width: 40px;
        bottom: 16px;
        right: 16px;
    }

    .designed-by {
        margin-bottom: 156px;
    }

    .footer-logo {
        width: 76px;
        bottom: 56px;
        right: 16px;
    }

    .test-link {
        width: 100%;
        font-size: 16px;
        line-height: 20px;
    }

    .test-reminder .test-link {
        height: 48px;
        margin-bottom: 15px;
    }

    .test-reminder-title {
        font-size: 32px;
        line-height: 38px;
    }
    .test-paragraph {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 32px;
    }

    .footer-main-illustration {
        width: 288px;
        height: 320px;
    }

    .our-socials {
        margin-bottom: 6px;
    }

    .tel {
        margin-bottom: 44px;
    }

    .footer-logo {
        right: 0;
        bottom: 43px;
    }




}