/*Fonts*/
@import url("../fonts/Futura PT_Book.css");
@import url("../fonts/Futura PT_Cond Medium.css");
@import url("../fonts/Futura PT_Demi.css");
@import url("../fonts/Futura PT_Heavy.css");
@import url("../fonts/Futura PT_Medium.css");

/*Sections*/
@import url("./header.css");
@import url("./our-partners.css");
@import url("./pain-section.css");
@import url("./test-benefits.css");
@import url("./expert-section.css");
@import url("./test-reminder.css");
@import url("./footer.css");

/*Keyframes*/
@import url("./keyframes.css");

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: normal;

}

body {
    font-family: 'FuturaPTWebBook';
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    font-family: "FuturaPTWebHeavy";
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: 0.0025em;
    text-transform: uppercase;
    color: #27303F;
}

small {
    font-family: 'FuturaPTWebMedium';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.0025em;
    color: #637899;
}

header, main, footer {
    width: 100%;
}

.container {
    overflow: hidden;
    margin: 0 auto;
    max-width: 1176px;
    position: relative;
}

.start-test-button {
    will-change: opacity;
    position: relative;
    margin-top: 48px;
    height: 56px;
    width: 392px;
    border: 2px solid #56B8FF;
    border-radius: 12px;
    background: white;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    transition: .5s opacity;
}

.start-test-button:hover {
    transition: .5s;
    opacity: .8;
}

.start-test-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'FuturaPTWebHeavy';
    font-style: normal;
    color: #56B8FF;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
}

@media (max-width: 979px) {
    .hide-animation-block {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: white;
        animation: .6s ease-out mobileAnimation forwards;
    }
    .animation-backing{
        display: none;
    }
}

@media (max-width: 1240px) {
    .container {
        margin: 0 32px;
    }

    .expert {
        flex-basis: 10%;
    }
}

@media (max-width: 1090px) and (min-width: 769px){
    .footer-logo {
        right: 24px;
    }

    .main-expert {
        padding: 40px 122px;
    }

    .pain-footer {
        margin: 96px 74px 0 74px;
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    .header {
        height: 1255px;
        background-image: url("../img/topBackground.png");
        background-position: bottom center;
        background-size: 100% 80%;
        background-repeat: no-repeat;
    }
    header .container {
        margin: 0 64px;
    }
    header .main-illustration {
        display: none;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .you-ready {
        justify-content: space-between;
        padding-top: 136px;
        width: 100%;
        height: 716px;
    }

    header small {
        margin-bottom: 47px;
    }

    .group-wrapper{
        padding: 0 48px;
    }

    .header-logo {
        padding-top: 0;
        top: 48px;
        z-index: 10;
        right: 50%;
        transform: translateX(60%);
    }

    .logo-img {
        width: 77.5px;
        height: 55px;
    }

    .more-info {
        margin: 0 auto;
    }
    .more-info__img {
        display: block;
        /*heigth: 100%;*/
    }

    .our-partners {
        margin-top: 0;
    }
    .info-partners .img-group {
        margin: 0 132px;
        padding: 0 30px;
        height: max-content;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .info-partners .img-group img {
        display: block;
        width: 35%;
        margin: 5px;
    }

    .pain-flex-item:first-child {
        flex-basis: 30%;
    }

    .pain-flex-item:nth-child(2) {
        flex-basis: 65%;
    }

    .pain-flex-item:nth-child(3),
    .pain-flex-item:nth-child(4),
    .pain-flex-item:nth-child(5),
    .pain-flex-item:nth-child(6){
        flex-basis: 47.5%;
    }

    .skills-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills-list__item {
        flex-basis: 48%;
        height: 304px;
    }

    .main-expert {
        padding: 40px;
    }

    .dotted-arrow-img {
        width: 56px;
    }

    .footer-logo {
        width: 76px;
    }
}

@media ( max-width: 767px ) and ( min-width: 320px) {
    .container {
        margin: 0 16px;
    }

    h2 {
        font-size: 32px;
    }

    .side-wrapper h2 {
        margin: 96px 0 16px 0;
    }

    .header {
        height: 762px;
        background-image: url("../img/topBackground.png");
        background-position: bottom center;
        background-size: 100% 65%;
        background-repeat: no-repeat;
    }

    .header .start-test-button {
        max-width: 80%;
        min-height: 48px;
    }

    header .main-illustration {
        display: none;
    }

    .you-ready {
        padding-top: 120px;
        width: 100%;
        height: 620px;
    }

    .group-wrapper {
        justify-content: space-around;
        height: 390px;
    }

    .ready-title {
        font-size: 44px;
        font-weight: 500;
        font-size: 44px;
        line-height: 44px;
    }

    .group-wrapper{
        padding: 0 16px;
    }

    .knowledge-level {
        font-size: 18px;
        padding-top: 16px;
        line-height: 22px;
    }

    .header-logo {
        padding-top: 0;
        top: 32px;
        z-index: 10;
        right: 50%;
        transform: translateX(60%);
    }

    .logo-img {
        width: 77.5px;
        height: 55px;
    }

    .more-info {
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translate(50%, 0);
        width: 290px;
        height: 80px;
        margin: 0 auto;
    }
    .more-info__img {
        width: 100%;
        height: 100%;
        display: block;
    }

    .animation-wrapper {
        top: 10px;
    }

    .cossa {
        width: 90px;
        height: 45px;
    }

    .ruward {
        height: 25px;
        width: 90px;
    }

    .our-partners {
        margin-top: 0;
    }
    .info-partners .img-group {
        padding: 0 30px;
        height: max-content;
        flex-wrap: wrap;
    }

    .info-partners .img-group img {
        display: block;
        width: 40%;
        margin: 5px;
    }

    .pain {
        padding-bottom: 96px;
    }

    .pain-flex-item:first-child,
    .pain-flex-item:nth-child(2),
    .pain-flex-item:nth-child(3),
    .pain-flex-item:nth-child(4),
    .pain-flex-item:nth-child(5),
    .pain-flex-item:nth-child(6) {
        flex-basis: 100%;
    }

    .pain-title {
        margin-bottom: 56px;
    }

    .pain-footer {
        margin: 72px 16px 0 16px;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
    }

    .test-benefits {
        padding: 96px 0 96px 0;
    }

    .test-benefits__title {
        text-align: center;
    }

    .side-wrapper button{
        align-self: center;
    }

    .test-reminder {
        height: max-content;
        overflow: hidden;
    }

    .test-reminder .container {
        display: flex;
        flex-direction: column;
        height: max-content;
    }
    .test-reminder .test__image-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .contacts-wrapper {
        flex-direction: column;
        gap: 0;
    }

    .footer-main-illustration {
        position: static;
        transform: none;
    }

    .skill-paragraph {
        font-size: 18px;
    }

    .experts {
        padding: 96px 0 96px 0;
    }

    .experts-list {
        display: flex;
        justify-content: flex-start;
        gap: 54px;
        flex-wrap: nowrap;
        margin-bottom: 72px;
        overflow: scroll;
    }

    .expert-img-wrapper:first-child,
    .expert-img-wrapper:last-child {
        margin-left: 40px;
    }

    .skills-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills-list__item {
        flex-basis: 100%;
        height: 304px;
    }

    .main-expert {
        padding: 40px 40px 100px 40px ;
        flex-direction: column;
        align-items: center;
    }

    .dotted-arrow-img {
        width: 56px;
    }

    .designed-by {
        margin-bottom: 156px;
    }

    .footer-logo {
        width: 76px;
        bottom: 56px;
        right: 16px;
    }

    .start-test-button {
        width: 256px;
    }
}